body {
    display: flex;
    justify-content: center;
}

.flashcardsContainer {
    display: flex;
    justify-content: center;
}

.flashcard { 
    height: 500px;
    width: 500px;
    color: white;
    font-size: 25px;
    padding: 10px;
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
    
}

.gameOverMessage {
   
    font-size: 32px; /* Rozmiar czcionki */
    color: rgb(122, 6, 6); /* Kolor tekstu */
   
}

.points {
    font-family: "Cooper";
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #fcca46;
    position: absolute;
    top: 20px; 
    right: 100px; 
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.next-btn {
    background-color: #fcca46;
    font-family: Cooper, sans-serif; /* Wybierz czcionkę Copper */
    font-size: 32px; /* Rozmiar czcionki */
    color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 30px; /* Zaokrąglenie krawędzi, aby uzyskać kształt koła */
    border: none; /* Usunięcie obramowania */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Cień z prawej strony */
}

.next-btn:hover{
    background-color: #e3b200;
}