.add-new-card-button {
  background-color: #fcca46;
  font-family: Cooper, sans-serif; /* Wybierz czcionkę Copper */
  font-size: 24px; /* Rozmiar czcionki */
  color: white;
  height: 100px;
  width: 160px;
  border-radius: 30px; /* Zaokrąglenie krawędzi, aby uzyskać kształt koła */
  border: none; /* Usunięcie obramowania */
  position: fixed; /* Ustawienie elementu na stałe względem okna przeglądarki */
  top: 20px; /* Odległość od górnej krawędzi strony */
  left: 20px; /* Odległość od lewej krawędzi strony */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Cień z prawej strony */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.add-new-card-button:hover {
  background-color: #e3b200;
}

.new-flashcard-form {
  height: 500px;
  width: 17%;
  color: white;
  font-size: 25px;
  padding: 10px;
  border: 5px solid white;
  border-radius: 20px;
  margin: 10px;
  position: fixed; /* Ustawienie elementu na stałe względem okna przeglądarki */
  top: 20px; /* Odległość od górnej krawędzi strony */
  left: 20px; /* Odległość od lewej krawędzi strony */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Cień z prawej strony */
}

.add-flashcard-btn {
  background-color: #fcca46;
  font-family: Cooper, sans-serif; /* Wybierz czcionkę Copper */
  font-size: 24px; /* Rozmiar czcionki */
  color: white;
  padding: 10px;
  margin-top: 35px;
  border-radius: 30px; /* Zaokrąglenie krawędzi, aby uzyskać kształt koła */
  border: none; /* Usunięcie obramowania */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Cień z prawej strony */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.add-flashcard-btn:hover {
  background-color: #e3b200;
}
.cancel-btn {
  background-color: #ff0000;
  font-family: Cooper, sans-serif; /* Wybierz czcionkę Copper */
  font-size: 24px; /* Rozmiar czcionki */
  color: white;
  padding: 10px;
  margin-top: 15px;
  border-radius: 30px; /* Zaokrąglenie krawędzi, aby uzyskać kształt koła */
  border: none; /* Usunięcie obramowania */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Cień z prawej strony */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.cancel-btn:hover {
  background-color: #cc0000;
}
